* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    width: 900px;
    height: 400px;
    margin: auto;
    border: 5px solid;
    overflow: hidden;
}

.img1 {
    width: 100%;
    height: 100%;
    animation: sojib 10s linear infinite;
    animation-delay: 5s;
}

.img2 {
    width: 100%;
    height: 100%;
    transform: translate(100%, -101%);
    animation: munna 10s linear infinite;
    animation-delay: 10s;
}

@keyframes sojib {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

@keyframes munna {
    0% {
        transform: translate(100%, -101%);
    }
    50% {
        transform: translate(0, -101%);
    }
    100% {
        transform: translate(0, -101%);
    }
}