* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    width: 1024px;
    height: fit-content;
    margin: auto;
    padding: 15px;
    box-shadow: 0 0 20px 0px #b5b4b4;
}

.header {
    background-color: #E7E9EB;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.nav {
    background-color: #E7E9EB;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.content {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    column-gap: 10px;
}

.c {
    background-color: #E7E9EB;
    width: 32.5%;
    height: 350px;
    text-align: center;
    display: grid;
    align-items: center;
}

.footer {
    background-color: #E7E9EB;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 25px;
}